div.col-sm{
    border: 2px solid red;
}

.col-sm {
   -ms-flex-preferred-size: 0;
   flex-basis: 0;
   -ms-flex-positive: 1;
   flex-grow: 0;
   /* max-width: 100%; */
   padding: -13px;
   height: 163px;
   width: -9px;
   width: 568px;
}